:root {
  --dark-bg: black;
  --light-bg: rgb(234, 234, 234);
  --font-c: rgb(242, 242, 242);
  --accents: red;
}

header {

  background-color: var(--dark-bg);
  color: var(--font-c);

  padding: 2rem;

  height: 15vh;


  display: flex;
  justify-content: space-between;
  align-items: center;

}

h1 {
  margin-left: .5vw;
}

li {
  display: inline-block;
  font-size: 1.2rem;
  padding: .5vw;
}

a {
  text-decoration: none;
  color: var(--font-c);
}

figure {
  background-color: white;
  height: 55vh;
}

figcaption {
  position: absolute;
  right: 20px;
  bottom: 20px;

  background-color: var(--accents);
  padding: 1% 3%;
}

section {
  background-color: var(--light-bg);

  display: flex;

  border-bottom: 2px solid white;
}

/* footer {
  background-color: white;
  height: 50px;
} */

.subtitle-rel {
  position: relative;
}

.l-content {
  background-color: var(--light-bg);

  padding: 3%;
  border-right: 5px solid var(--accents);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex: 0 1 10%;
}

.r-content {
  padding: 2%;

  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.work-links {
  background-color:rgb(148, 251, 169);
  border: 3px solid black;
  flex: 1 0 47%;

  position: relative;
}

.contact-section {
  background-color: var(--dark-bg);
  color: var(--font-c);
  height: auto;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;


  gap: 4%;
}

.contact-info {
  margin: 3%;
}

.contact-section ul {
  width: 95%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}



#work2,
#work3 {
  margin-bottom: 3%;
}

#work {
  height: auto;
}

#featured {
  flex: 2 0 99%;
  margin-bottom: 3%;
}


/* MEDIA QUERIES */

/* for responsiveness on tablet screens */

@media screen and (max-width: 770px){

  header {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }

  h1 {
    margin: 3%;
  }

  section {
    flex-direction: column;
  }

  .r-content {
    margin: 0 auto;
  }

  .l-content {
    border-right: none;
    border-bottom: 5px solid var(--accents);
  }

  .contact-section ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}

/* for responsiveness on mobile screens */

@media screen and (max-width: 460px){

  h1 {
    margin-bottom: 6%;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }

  .contact-info li {
    margin-bottom: 5%;
  }

  nav ul li:last-child {
    margin-bottom: 0;
  }

  #work4 {
    margin-bottom: 3%;
  }

}






