/* CSS VARIABLES */

:root {
  --dark-bg: black;
  --cont-bg: rgb(14, 14, 14);
  --font-1: rgb(17, 65, 178);
  --font-2: rgb(81, 201, 237);
  --font-3: rgb(218, 200, 99);
  --font-4: white;
  --accents: rgb(199, 56, 30);
  --shadow: rgb(97, 97, 97)
}

/* SEMANTIC ELEMENT SELECTORS */

header {

  background-color: var(--dark-bg);
  color: var(--font-1);
  box-shadow: 0 0 25px var(--shadow) inset;
  box-shadow: 0 0 13px var(--shadow);

  padding: 2rem;

  height: 15vh;


  display: flex;
  justify-content: space-between;
  align-items: center;

}

h1 {
  margin-left: .5vw;
  font-size: 3rem;
}

h2 {
  color: var(--font-3);
}

li {
  display: inline-block;
  font-size: 1.5rem;
  padding: .5vw;
}

p {
  color: var(--font-4);
}

a {
  text-decoration: none;
  color: var(--font-2);
}

figure {
  background-color: var(--cont-bg);

  /* box-shadow: 0 0 13px var(--shadow); */
  
  height: 55vh;
}

figcaption {
  position: absolute;
  right: 20px;
  bottom: 20px;

  background-color: var(--accents);
  padding: 1% 3%;
}

section {
  background-color: var(--cont-bg);

  /* box-shadow: 0 0 25px var(--shadow) inset;
  box-shadow: 0 0 13px var(--shadow); */

  display: flex;

  /* border-bottom: 2px solid white; */
}


footer {
  background-color: var(--dark-bg);
  color: var(--font-1);
  height: auto;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  width: 95%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* CLASS SELECTORS */

.subtitle-rel {
  position: relative;
}

.l-content {
  background-color: var(--cont-bg);
  box-shadow: 0 0 25px var(--shadow) inset;
  /* box-shadow: 0 0 13px var(--shadow); */

  padding: 3%;
  /* border-right: 5px solid var(--accents); */
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex: 0 1 10%;
}

.r-content {
  padding: 2%;

  /* box-shadow: 0 0 25px var(--shadow) inset;
  box-shadow: 0 0 13px var(--shadow); */

  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.work-links {
  background-color:rgb(148, 251, 169);
  border: 3px solid black;
  flex: 1 0 47%;

  position: relative;
}

.contact-info {
  margin: 0 3%;
}

/* ID SELECTORS */

#featured {
  flex: 2 0 99%;
  margin-bottom: 3%;
}

#work2,
#work3 {
  margin-bottom: 3%;
}

#work {
  height: auto;
}


/* MEDIA QUERIES */

/* for responsiveness on tablet screens */

@media screen and (max-width: 770px){

  header {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }

  h1 {
    margin: 3%;
  }

  section {
    flex-direction: column;
  }

  .r-content {
    margin: 0 auto;
  }

  .l-content {
    border: none;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #contact ul li a {
    font-size: 1rem;
  }

}

/* for responsiveness on mobile screens */

@media screen and (max-width: 460px){

  h1 {
    margin-bottom: 6%;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }

  .contact-info li {
    margin-bottom: 5%;
  }

  nav ul li:last-child {
    margin-bottom: 0;
  }

  #work4 {
    margin-bottom: 3%;
  }

}






